* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  overflow-x: hidden;
}

/*  nav bar section */
.nav-bar {
  margin: 0 auto;
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: antiquewhite;
  box-shadow: 0px 0px 10px gray;
}

.nav-bar > ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

/*  carousal section */
.container-carousal {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin: 4rem auto;
  flex-direction: row;
  justify-content: center;
  align-items: centers;
}

.carousal-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all;
  transition-duration: 1s;
}

.carousal-images-box {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.carousal-img {
  width: 50%;
  border-radius: 5px;
}

.carousal-box > h1 {
  /* width: 30%; */
  /* text-align: center; */
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.8;
}

.carousal-box > p {
  font-weight: 200;
  font-size: 1rem;
  opacity: 0.4;
}

.button-carousal {
  width: 20px;
  transition: opacity 300ms;
}

.button-carousal:hover {
  opacity: 0.3;
  cursor: pointer;
}

.hidden {
  display: none;
}
